<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DB" connectionString="Data Source=JONATA-NB\SQLEXPRESS12;Initial Catalog=Patrimonios;User ID=;Password=;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="TempoValidadeTokenMinutos" value="240" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="httpBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="PatrimoniosManagement.WebApi.WcfPatrimonio">
				<endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="PatrimoniosManagement.WebApi.Interfaces.IWcfPatrimonio"/>
			</service>
			<service name="PatrimoniosManagement.WebApi.WcfUsuario">
				<endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="PatrimoniosManagement.WebApi.Interfaces.IWcfUsuario"/>
			</service>
			<service name="PatrimoniosManagement.WebApi.WcfMarca">
				<endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="PatrimoniosManagement.WebApi.Interfaces.IWcfMarca"/>
			</service>
			<service name="PatrimoniosManagement.WebApi.WcfToken">
				<endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="PatrimoniosManagement.WebApi.Interfaces.IWcfToken"/>
			</service>
		</services>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https"/>
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        Para procurar o diretório de raiz do aplicativo Web durante a depuração, defina o valor abaixo para verdadeiro.
        Defina-o para falso antes da implantação para evitar a divulgação de informações da pasta do aplicativo Web.
-->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
